<div class="recipe">
  <div class="recipe__buttons">
    <button (click)="openDialog()">Delete</button>
    <button [routerLink]="['/recipes/edit', recipe._id]">Edit</button>
  </div>
  <h1 class="recipe__name">{{ recipe.name }}</h1>
  <h3>
    Preparation time:
    {{ recipe.preparationTimeInMinutes | convertMinutesToHours }}
  </h3>
  <h3>Ingredients:</h3>
  <div *ngFor="let ingredient of recipe.ingredients">
    <li>{{ ingredient.name }}, {{ ingredient.quantity }}</li>
  </div>
  <h3>Description:</h3>
  <div>{{ recipe.description }}</div>
</div>
