@import "importable/colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  background-color: $lighblue2;
  color: $white;
  border: 0.1rem solid $blue;
  padding: 0.2rem 0.5rem;
  border-radius: 5%;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: $blue;
}

button:disabled {
  border: 0.1rem solid $gray;
  background-color: $gray2;
  color: $gray3;
}
