$lightblue: rgb(173, 216, 230);
$lighblue2: rgb(131, 197, 219);
$blue: rgb(59, 175, 213);
$lightgray: rgb(212, 212, 212);
$lightgray2: rgb(231, 228, 228);
$red: rgb(255, 0, 0);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(153, 153, 153);
$gray2: rgb(204, 204, 204);
$gray3: rgb(102, 102, 102);
